#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define ZMK_MOUSE_DEFAULT_SCRL_VAL 50 // 10

#define QWERTY 0
#define NUM 1
#define ADDONS 2

/*
 * КОДЫ КЛАВИШ: https://zmk.dev/docs/codes 
 * ДОКУМЕНТАЦИЯ ПО НАСТРОЙКЕ ПОВЕДЕНИЯ КЛВИШ: https://zmk.dev/docs/behaviors
 * ДОКУМЕНТАЦИЯ ПО ЭМУЛЯЦИИ МЫШИ: https://zmk.dev/docs/behaviors/mouse-emulation
 * НАСТРОЙКА ПОВЕДЕНИЯ СЛОЕВ: https://zmk.dev/docs/keymaps/behaviors/layers
 */


&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <0>;       // 300
    delay-ms = <0>;                   // 0
};
/ {
    behaviors {
        page_encoder: page_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp PG_UP>, <&kp PG_DN>;
        };
        volume_encoder: volume_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_VOL_UP>;
        };
        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            tap-ms = <50>;
        };
        // alt_tab_scroll: alt_tab_scroll {

        // }
    };


    // ДОКУМЕНТАЦИЯ ПО ПОВЕДЕНИЮ КНОПОК: https://zmk.dev/docs/behaviors
    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            display-name = "QWERTY";
/* QWERTY
 *
 * .-----------------------------------------------.               .-----------------------------------------------.
 * |  ESC  |   Q   |   W   |   E   |   R   |   T   |               |   Y   |   U   |   I   |   O   |   P   |   {   |
 * |-------+-------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------|
 * |  TAB  |   A   |   S   |   D   |   F   |   G   |               |   H   |   J   |   K   |   L   |   ;   |   }   |
 * |-------+-------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------|
 * |LSHIFT |   Z   |   X   |   C   |   V   |   B   |               |   N   |   M   |   ,   |   .   |   /   |   "   |
 * "---------------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------"
 *                 |  NUM  | CTRL  | ENTER |   ?   |<---Encoder--->|   ?   | BSPC  | SPACE |ADDONS |
 *                 "-------------------------------"               "-------------------------------"
 *
 */
            bindings = <
    &kp ESC      &kp Q        &kp W        &kp E        &kp R        &kp T              &kp Y        &kp U        &kp I        &kp O        &kp P        &kp LBKT
    &kp TAB      &kp A        &kp S        &kp D        &kp F        &kp G              &kp H        &kp J        &kp K        &kp L        &kp SEMI     &kp RBKT
    &kp LSHIFT   &kp Z        &kp X        &kp C        &kp V        &kp B              &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp SQT
                              &mo NUM      &kp LCTRL    &kp ENTER    &none              &none        &kp BSPC     &kp SPACE    &mo ADDONS
            >;
            
            // ТУТ УКАЗЫВАЕТСЯ НАЗНАЧЕНИЕ ЭНКОДЕРА В СЛОЕ
            sensor-bindings = 
            <&scroll_encoder>, 
            <&volume_encoder>;
        };

        NUM {
            display-name = "NUM";
/* NUM
 *
 * .-----------------------------------------------.               .-----------------------------------------------.
 * |  ESC  |   Q   |   W   |   E   |   R   |   T   |               |   -   |   7   |   8   |   9   |   +   |   =   |
 * |-------+-------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------|
 * |  TAB  |   A   |   S   |   D   |   F   |   G   |               |   *   |   4   |   5   |   6   |   0   |   ?   |
 * |-------+-------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------|
 * |LSHIFT |   Z   |   X   |   C   |   V   |   B   |               |   /   |   1   |   2   |   3   |   ,   |   "   |
 * "---------------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------"
 *                 |  NUM  | CTRL  | ENTER |   ?   |<---Encoder--->|   ?   | BSPC  | SPACE |ADDONS |
 *                 "-------------------------------"               "-------------------------------"
 *
 */
            bindings = <
    &kp ESC        &kp F1        &kp F2       &kp F3       &kp F4       &kp F5             &kp MINUS    &kp N7       &kp N8       &kp N9    &kp PLUS     &kp KP_EQUAL
    &trans         &trans        &trans       &trans       &trans       &trans             &kp STAR     &kp N4       &kp N5       &kp N6    &kp N0       &kp QMARK
    &trans         &trans        &trans       &trans       &trans       &trans             &kp BSLH     &kp N1       &kp N2       &kp N3    &kp KP_COMMA &kp LALT
                                 &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans
            >;
            
            // ТУТ УКАЗЫВАЕТСЯ НАЗНАЧЕНИЕ ЭНКОДЕРА В СЛОЕ
            sensor-bindings = 
            <&scroll_encoder>, 
            <&volume_encoder>;
        };

        ADDONS {
            display-name = "ADDONS";
/* ADDONS
 *
 * .-----------------------------------------------.               .-----------------------------------------------.
 * | PSCRN |   Q   |   W   |   E   |   R   |   T   |               |   -   |   7   |  UP   |   9   |   +   |   =   |
 * |-------+-------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------|
 * |  TAB  |   A   |   S   |   D   | BT_CLR|BT_DISC|               |   *   |   4   |   5   |   6   |   0   |   ?   |
 * |-------+-------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------|
 * |LSHIFT |   Z   |   X   |   C   |BT_PRV |BT_NXT |               |   /   |   1   |   2   |   3   |   ,   |   "   |
 * "---------------+-------+-------+-------+-------|               |-------+-------+-------+-------+-------+-------"
 *                 |  NUM  | CTRL  | ENTER | BT_ON |<---Encoder--->| BT_OFF| BSPC  | SPACE |ADDONS |
 *                 "-------------------------------"               "-------------------------------"
 *
 */
            bindings = <
    &kp PSCRN      &trans         &trans         &trans         &trans         &trans             &trans         &trans       &kp UP         &trans         &trans         &trans
    &trans         &trans         &trans         &trans         &bt BT_CLR     &trans             &trans         &kp LEFT     &kp DOWN       &kp RIGHT      &trans         &trans
    &trans         &trans         &trans         &trans         &bt BT_PRV     &bt BT_NXT         &trans         &trans       &trans         &trans         &trans         &trans
                                  &trans         &trans         &trans         &trans             &trans         &trans       &trans         &trans
            >;
            
            // ТУТ УКАЗЫВАЕТСЯ НАЗНАЧЕНИЕ ЭНКОДЕРА В СЛОЕ
            sensor-bindings = 
            <&scroll_encoder>, 
            <&volume_encoder>;
        };
    };
};